<!-- templates/cats/index.html -->
{% extends 'base.html' %} {% block content %}
{%load static%}

    <div>
        <h2>the catcollector's cats</h2>
            {% for cat in cats %}
            <div class="card text-center">
                <div class="card-header">
                    Feature Cats
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ cat.name }}</h5>
                    <p class="card-text">{{ cat.description }}</p>
                    <p class="card-text"> Breed: {{ cat.breed }}</p>
                    <p class="card-text"> Age: {{ cat.age }}</p>
                    <a href="/cats/{{cat.id }}/" class="btn btn-primary">See Cat!</a>
                </div>
            </div>
            {% endfor %}
        {% endblock %}
